$red: #D54E21;
$green: #87bf46;
$orange: #f47920;



@-webkit-keyframes spin1 {
	0% { -webkit-transform: rotate(0deg);}
	100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
	0% { -moz-transform: rotate(0deg);}
	100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
	0% { -o-transform: rotate(0deg);}
	100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
	0% { -ms-transform: rotate(0deg);}
	100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
	0% { transform: rotate(0deg);}
	100% { transform: rotate(360deg);}
}
// Admin bar Button

#ms-form {
	
	.themename {
		display: inline-block;
		font-style: italic;
	}
	
	.inline-checkbox {
		margin-right:1em;
	}
	
	.inline-description {
		display: inline-block;
	}
	
	.infos {
		margin-left:2.3em;
	}
	
	.present {
		color: green;
	}
	
	.missing {
		color: red;
	}
}

#wpadminbar {
	
	ul {
		
		li {
			
			&#wp-admin-bar-ms-switch-button {
				
				.ab-label {
					color:#eee !important;
				}
				
				.ab-icon:before {
					color:rgba(240,245,250,.6) !important;
				}
				
				.ab-icon.dashicons-admin-generic {
					-webkit-animation: spin1 2s infinite linear;
					   -moz-animation: spin1 2s infinite linear;
					   		animation: spin1 2s infinite linear;
				}
				
				.ab-item {
					-webkit-transition: all 0.5s ease;
					   -moz-transition: all 0.5s ease;
				   			transition: all 0.5s ease;
				}
				
				&.active {
					
					.ab-item {
						background: $red;
					}
					
					&.core {
						.ab-item {
							background: $orange;
						}
					}
				}
				
				&.active:hover {
					
					.ab-item {
						background: $red;
					}
				}
			}
		}
	}
}


