@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin1 {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-o-keyframes spin1 {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg); } }

@-ms-keyframes spin1 {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg); } }

@-keyframes spin1 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#ms-form .themename {
  display: inline-block;
  font-style: italic; }

#ms-form .inline-checkbox {
  margin-right: 1em; }

#ms-form .inline-description {
  display: inline-block; }

#ms-form .infos {
  margin-left: 2.3em; }

#ms-form .present {
  color: green; }

#ms-form .missing {
  color: red; }

#wpadminbar ul li#wp-admin-bar-ms-switch-button .ab-label {
  color: #eee !important; }

#wpadminbar ul li#wp-admin-bar-ms-switch-button .ab-icon:before {
  color: rgba(240, 245, 250, 0.6) !important; }

#wpadminbar ul li#wp-admin-bar-ms-switch-button .ab-icon.dashicons-admin-generic {
  -webkit-animation: spin1 2s infinite linear;
  -moz-animation: spin1 2s infinite linear;
  animation: spin1 2s infinite linear; }

#wpadminbar ul li#wp-admin-bar-ms-switch-button .ab-item {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wpadminbar ul li#wp-admin-bar-ms-switch-button.active .ab-item {
  background: #D54E21; }

#wpadminbar ul li#wp-admin-bar-ms-switch-button.active.core .ab-item {
  background: #f47920; }

#wpadminbar ul li#wp-admin-bar-ms-switch-button.active:hover .ab-item {
  background: #D54E21; }
